.menu__list  {
  padding-left: 45px;
  list-style-type: none;
  text-align: start;
}

/* @media screen and (max-width: 767px) {
  .menu__list  {
    height: 100%;
    margin-top: 0px;
    padding-top: 20px;
    padding-left: calc( (100vw - 320px)/(767 - 320) * (45 - 15) + 15px);
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
  }
} */
