.page {
  max-width: 1440px;
  padding-top: 15px;
  margin: 0px auto;
  background: #F1F1F1;
  display: grid;
  grid-template-columns: 34.36% 65.54%;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  /* grid-template-columns: 34.36% 65.54%; */
}

@media screen and (max-width: 1439px) {
  .page {
    grid-template-columns: calc( (100vw - 768px)/(1439 - 768) * (34.36 - 34.36) + 34%) calc( (100vw - 768px)/(1439 - 768) * (65.54 - 65.54) + 66%);
    grid-column-gap: calc( (100vw - 768px)/(1439 - 768) * (30 - 15) + 15px);
    grid-row-gap: calc( (100vw - 768px)/(1439 - 768) * (30 - 15) + 15px);
  }
}

@media screen and (max-width: 767px) {
  .page {
    padding-top: 0px;
    display: block;
  }
}
