.avatar__input {
  width: 300px;
  height: 300px;
  margin-top: 30px;
  margin-left: 45px;
  border-radius: 1000px;
  outline: none;
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
}

.avatar__input:hover ~ .avatar__edit-bg {
  visibility: visible;
}

@media screen and (max-width: 1439px) {
  .avatar__input {
    width: calc( (100vw - 768px)/(1439 - 768) * (300 - 170) + 170px);
    height: calc( (100vw - 768px)/(1439 - 768) * (300 - 170) + 170px);
    margin-left: calc( (100vw - 768px)/(1439 - 768) * (45 - 30) + 30px);
  }
}

@media screen and (max-width: 767px) {
  .avatar__input {
    width: calc( (100vw - 320px)/(767 - 320) * (200 - 120) + 120px);
    height: calc( (100vw - 320px)/(767 - 320) * (200 - 120) + 120px);
    margin-top: calc( (100vw - 320px)/(767 - 320) * (30 - 25) + 25px);
    margin-bottom: calc((100vw - 320px)/(767 - 320) * (30 - 25) + 25px);
    margin-left: 0px;
  }
}
