@import url(../../vendor/normalize.css);
@import url(../../vendor/fonts.css);

@import url(../../blocks/page/page.css);

@import url(../../blocks/button/button.css);

@import url(../../blocks/side-bar/side-bar.css);
@import url(../../blocks/avatar/avatar.css);
@import url(../../blocks/menu/menu.css);

@import url(../../blocks/info/info.css);
@import url(../../blocks/user/user.css);
@import url(../../blocks/counters/counters.css);


@import url(../../blocks/content/content.css);
@import url(../../blocks/tabs/tabs.css);
@import url(../../blocks/friends/friends.css);
@import url(../../blocks/friend/friend.css);

@import url(../../blocks/posts/posts.css);
@import url(../../blocks/post/post.css);

@import url(../../blocks/not-found/not-found.css);
