.side-bar__close-menu {
  margin-top: 30px;
  margin-right: 24px;
  margin-bottom: 20px;
  width: 30px;
  height: 30px;
  display: none;
}

@media screen and (max-width: 767px) {
  .side-bar__close-menu  {
    display: block;
  }
}
