.friend__info-iteam {
  margin: 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 160%;
}

@media screen and (max-width: 1439px) {
  .friend__info-iteam {
    font-size: calc( (100vw - 768px)/(1439 - 768) * (24 - 16) + 16px);
  }
}

@media screen and (max-width: 767px) {
  .friend__info-iteam {
    font-size: calc((100vw - 320px)/(767 - 320) * (20 - 16) + 16px);
  }
}
