.side-bar__edit-bg {
  width: 300px;
  height: 300px;
  padding-top: 35%;
  margin-top: 30px;
  margin-left: 44px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1000px;
  opacity: 0.5;
  visibility: hidden;
  align-items: center;
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}

@media screen and (max-width: 1439px) {
  .side-bar__edit-bg {
    width: calc( (100vw - 768px)/(1439 - 768) * (300 - 170) + 170px);
    height: calc( (100vw - 768px)/(1439 - 768) * (300 - 170) + 170px);
    padding-top: calc( (100vw - 768px)/(1439 - 768) * (35 - 30) + 30%);
    margin-left: calc( (100vw - 768px)/(1439 - 768) * (44 - 30) + 30px);
  }
}

@media screen and (max-width: 767px) {
  .side-bar__edit-bg {
    width: calc( (100vw - 320px)/(767 - 320) * (200 - 85) + 85px);
    height: calc( (100vw - 320px)/(767 - 320) * (200 - 85) + 85px);
    padding-top: calc((100vw - 320px)/(767 - 320) * (50 - 18) + 18%);
    margin-top: calc( (100vw - 320px)/(767 - 320) * (30 - 25) + 25px);
    margin-bottom: calc((100vw - 320px)/(767 - 320) * (30 - 25) + 25px);
    margin-left: calc((100vw - 320px)/(767 - 320) * (30 - 25) + 25px);
  }
}
