.friends__page-number {
  margin: 0px 2px;
  font-size: 18px;
  line-height: 18px;
}

@media screen and (max-width: 1439px) {
  .friends__page-number {
    margin: 0px calc( (100vw - 768px)/(1439 - 768) * (2 - 10) + 10px);
  }
}

@media screen and (max-width: 768px) {
  .friends__page-number {
    margin: 0px 10px;
  }
}
