@import url(./_hidden/side-bar__menu_hidden.css);

.side-bar__menu {
  /* margin: 0px; */
  padding: 0px;
  margin-top: 41px;
  padding-bottom: 14px;
}

@import url(./_visible/side-bar__menu_visible.css);

@media screen and (max-width: 1439px) {
  .side-bar__menu {
    margin-top: calc( (100vw - 767px)/(1439 - 768) * (41 - 15) + 15px);
  }
}

@media screen and (max-width: 767px) {
  .side-bar__menu {
    display: none;

    /* padding: 0px;
    margin-top: calc( (100vw - 320px)/(767 - 320) * (15 - 0) + 0px);
    margin-right: calc( (100vw - 320px)/(767 - 320) * (50 - 25) + 25px); */

    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    /* align-items: center; */
    /* justify-content: center; */
    /* display: none; */
    z-index: 8;
    top: 0px;
    left: 0px;

    text-align: end;

  }
}
