.side-bar__open-menu {
  display: none;
  margin-top: 35px;
  margin-right: 30px;
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 767px) {
  .side-bar__open-menu {
    display: block;
  }
}
