.user-info__counter-iteam {
  width: 180px;
  margin: 0px 15px 0px 15px;
  text-align: center;
}

@media screen and (max-width: 1439px) {
  .user-info__counter-iteam {
    width: calc( (100vw - 768px)/(1439 - 768) * (180 - 112) + 112px);

  }
}

@media screen and (max-width: 767px) {
  .user-info__counter-iteam {
    width: calc((100vw - 320px)/(767 - 320) * (112 - 70) + 70px);

  }
}
