.tabs__container {
  margin: 0px;
  padding-left: 15px;
  list-style-type: none;
  display: flex;
  justify-content: start;
}

@media screen and (max-width: 768px) {
  .tabs__container {
    justify-content: center;
  }
}
