.side-bar__list {
  padding-left: 45px;
  text-align: start;
  list-style-type: none;
}

@media screen and (max-width: 767px) {
  .side-bar__list {
    padding-left: calc( (100vw - 320px)/(767 - 320) * (45 - 15) + 15px);



    background-color: #ffffff;
    border-radius: 5px;
    height: 100%;
    margin-top: 0px;
    padding-top: 20px;
    text-align: center;
    /* width: 200px; */
  }
}
