.side-bar {
  width: 390px;
  border-radius: 5px 0px 0px 0px;
  background-color: #FFFFFF;
  grid-row: 1/5;
  align-self: start;
  justify-self: end;
  text-align: center;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1439px) {
  .side-bar {
    width: calc((100vw - 768px)/(1439 - 768) * (390 - 230) + 230px);
  }
}

@media screen and (max-width: 767px) {
  .side-bar {
    width: 100%;
    box-shadow: none;
    display: flex;
    justify-content: center;
  }
}
